<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test App</title>
    <link rel='stylesheet' href='css/main.css'>
</head>
<body class="border">

    {{{body}}}

</body>
</html>
