

&nbsp;
<div class="upperdiv">
    <div class="myimageheader">
        <h1 align="center" style="font-size: 1000%;"><span style="color: rgb(173,31,36)">My Images</span></h1>
    </div>
    <div class="helppop">
            <button type="submit" class="btn2" onclick="openPopup2()">I</button>
            <p class="helpage">help</p>
    </div>
    <div class="container">
        <div class="overlay2" id="overlay2"></div>
        <div class="popup2" id="popup2">
            <h2>How to Upload an Image</h2>
            <div class="leftalign">
                <ul>
                    <li>Press the 'Upload Image' button</li>
                    &nbsp;
                    <li>Verify that you are not a bot</li>
                    &nbsp;
                    <li>Press the 'Upload Your Image' button</li>
                    &nbsp;
                    <li>Press the 'Submit' button</li>
                </ul>
                
            </div>
            &nbsp;
            <p>Press the 'I' button to reopen this popup</p>
            &nbsp;
            <button class="close" types="button" onclick="closePopup2()">Close</button>
        </div>
    </div>
</div>

<hr>

&nbsp;

<article class="home-article">
    <h2 align="center">Store your favorite images in one place using the upload button below!</h2>
</article>

&nbsp;
&nbsp;

<div class="footdiv">
    <h2>
            <nav>
                <a href="/" class="current">My Images</a>
            </nav>
        </h2>
</div>

<div class="container">
    <button type="submit" class="btn" onclick="openPopup()">Upload Image</button>
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <h2>Upload Your Image</h2>
        <p>Select an image from your computer</p>
        <form class='uploader' method="post" enctype="multipart/form-data" action="/upload">
            <input type="file" class='file' name="file" onchange="readURL(this)" onclick="openCertainty()">
            <img id="verify" class="verify" src=""/>
            <p id="certainty" class="certainty">Is this the correct image??</p>
            <input id="submit" type="submit" class='submit' value="Submit">
        </form>
        <button id="humanity" type="humanity" class="humanity">I am not a bot</button>
        <p>Your uploaded images may be viewed for research purposes</p>
        <button class="close" types="button" onclick="closePopup()">Close</button>
    </div>
</div>

&nbsp;
&nbsp;

<div class='myimages' id="myimages">
</div>

<div class="divfoot">
</div>



<script>

    let popup = document.getElementById("popup")

    let overlay = document.getElementById("overlay")

    let popup2 = document.getElementById("popup2")

    let overlay2 = document.getElementById("overlay2")

    let submit = document.getElementById("submit")

    let humanity = document.getElementById("humanity")

    let certainty = document.getElementById("certainty")

    function openCertainty() {
        certainty.classList.add("open-certainty")
    }

    function openPopup(){
        popup.classList.add("open-popup");
        overlay.classList.add("open-overlay");
        humanity.classList.add("open-humanity")
    }

    function openPopup2(){
        popup2.classList.add("open-popup2");
        overlay2.classList.add("open-overlay2");
    }

        function closePopup2(){
        popup2.classList.remove("open-popup2");
        overlay2.classList.remove("open-overlay2");
    }

    function closePopup(){
        popup.classList.remove("open-popup");
        overlay.classList.remove("open-overlay");
        submit.classList.remove("open-submit")
        humanity.classList.remove("open-humanity")
        certainty.classList.remove("open-certainty")
    }
    
    overlay.onclick = function () {
        popup.classList.remove("open-popup");
        overlay.classList.remove("open-overlay");
        submit.classList.remove("open-submit")
        humanity.classList.remove("open-humanity")
        certainty.classList.remove("open-certainty")
    };

    overlay2.onclick = function () {
        popup2.classList.remove("open-popup2");
        overlay2.classList.remove("open-overlay2");
    };
</script>

<script>
        fetch('/api/images')
            .then(response => response.json())
            .then(images => {
                const gallery = document.getElementById('myimages');
                images.forEach(imageName => {
                    const img = document.createElement('img');
                    img.src = `/images/${imageName}`;
                    gallery.appendChild(img);
                });
            });
</script>

<script>
    //preview function based on Diego Fortes' response to https://stackoverflow.com/questions/58773912/how-can-i-display-a-photo-chosen-through-a-html-input-in-a-div
    function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                  document.querySelector('#verify').setAttribute('src',e.target.result )

                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
    document.getElementById('humanity').addEventListener('click', async () => {
        const write = await fetch('/write-to-file', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ textData: "verify" })
        });
        const result = await write.text();
        alert('verification successful');
        try {
            // Request the file data from the Node.js endpoint
            const read = await fetch('read-file');
            const text = await read.text();

            if (text == 'verified') {
                submit.classList.add("open-submit")
                humanity.classList.remove("open-humanity")
            }
            

        } catch (error) {
            console.error('Fetch error:', error);
        }
    });
</script>